<div class="navbar-section">
    <div class="container flex">
        <div class="img-placeholder">
            <img src="/static/img/logo-orange.png" alt="logo">
        </div>  
         <a class="toggle-button" onclick="openNavbar()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>   
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </div>
</div>